DeveloperStudio
DeveloperStudio.ini
README.txt
RELEASE_NOTES.txt
about.html
about_files/
artifacts.xml
configuration/
dropins/
features/
fix-menu.sh
icon.xpm
liferay-plugins-sdk-6.2.10.1/
liferay-plugins-sdk-examples-6.2.10.1/
liferay-portal-6.2.10.1-ee-ga1/
liferay.png
p2/
plugins/
resources/
solutions-sdk/
