.table-scenario input[type="text"] {
  width: 70px !important; }

.table-scenario .control-group {
  margin-bottom: 0px !important; }

.margin-left {
  margin-left: 40px !important; }

.portlet-topper-toolbar {
  display: none !important; }

