
.endSC {
	padding-right: 60px !important;
}

.workflow .space-container {
	/*  background: red;*/
	display: inline-block;
	width: 20px;
	padding: 0px 10px;
	height: 80px;
	vertical-align: middle;
	text-align: center;
	line-height: 80px;
}

.library .space-container {
	visibility: hidden;
}

.dragged .space-container {
	visibility: hidden;
}

.blockus {
	display: inline-block;
}

.action, .pause {
	cursor: pointer;
	transition: box-shadow 0.5s;
}

.action {
	display: inline-block;
	height: 45px;
	line-height: 45px;
	padding: 0px 17px;
	border-radius: 10px;
}

._tyLOGIN .action, ._tyLOGOUT .action {
	background: rgb(88, 148, 227);
}

._tyRANDOMPAGE .action {
	background: rgb(219, 125, 125);
}

._tyRECORD .action {
	background: rgb(126, 191, 127);
}

.action:hover, .pause:hover {
	box-shadow: 1px 1px 4px #555;
}

.extented-space {
	display: inline-block;
	width: 150px;
	height: 80px;
	vertical-align: middle;
	text-align: center;
	line-height: 80px;
	opacity: 0;
}

.extented-space .icon-chevron-right {
	pointer-events: none;
}
