.table-scenario input[type="text"] {
	width: 40px !important;
}

.table-scenario .control-group {
	margin-bottom: 0px !important;
}

.margin-left {
	margin-left: 40px !important;
}

.margin-left-5 {
	margin-left: 5px !important;
}

.portlet-topper-toolbar {
	display: none !important;
}

.help-text {
	margin-top: 20px !important;
}

.help-content-display {
	display: block !important;
}

.help-content-hidden {
	display: none !important;
}

.empty-weight-color>td {
	background-color: #E5F5FC !important;
}

.success>td {
	background-color: #F1FBD1 !important;
}

.error>td {
	background-color: #FEE5E2 !important;
}

.inline-button {
	margin-bottom: 7px !important;
}

.force-weight-children, .show-hide-children {
	cursor: pointer;
}

.small-column {
	max-width: 230px;
	width: 230px;
}

.inline {
	display: inline !important;
}

dt {
	color: #CD6B00;
}

dd {
	margin-bottom: 10px;
}

#portletRecordDiv {
	min-height: 600px;
}

#portletRecordFrame {
	min-height: 600px;
	padding: 10px;
	padding-right: 0px;
}

.popup-focus {
	z-index: 1300;
}

.textarea-feeder {
	min-width: 270px !important;
	min-height: 150px !important;
}

.inline-feeder {
	display: inline-block !important;
	padding: 15px;
	min-height: 260px;
	border: 1px solid #E5E5E5;
	margin: 0px auto;
	vertical-align: top !important;
}