
/* Buttons in the menu */

#menus {
	margin-top: 20px;
	margin-bottom: 20px;
}

#menus a {
	color: #009ae5;
	font-weight: bold;
}


/* Scenarios */

.scenario {
	height: 80px;
	vertical-align: center;
}

.scenario-box {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
}

.scenario-box input[type="checkbox"] {
	margin-bottom: 7px;
}

.workflow {
	display: inline-block;
	height: 80px;
}

.time-separator-container {
	display: inline-block ;
 	height: 80px;
	margin: 0px 10px;
	vertical-align: middle;
	text-align: center;
}

.time-separator {
 	display: flex ;
	justify-content: center;
	text-align: center;
	height: 80px;
}

.time-separator div {
	align-self: center;
}

.pause {
	display: inline-block;
	vertical-align: middle;
	height: 45px;
	width: 85px;
	background: #eac15f;
	border-radius: 40px;
	text-align: center;
}

.pause-font {
	align-self: center;
}

.pause-name {
	margin-top: 2px;
}

.process-font {
	color: white;
	font-weight: bold;
	text-align: center;
}

.time {
	text-align: center;
}

.time input[type="number"] {
   	width: 25px;
   	margin-bottom: 0;
}

.fresh-scenario {
	margin-bottom: 20px;
}



