.table-scenario input[type="text"] {
	width: 40px !important;
}

.table-scenario .control-group {
	margin-bottom: 0px !important;
}

.margin-left {
	margin-left: 40px !important;
}

.margin-left-5 {
	margin-left: 5px !important;
}

.portlet-topper-toolbar {
	display: none !important;
}

.help-text {
	margin-top: 20px !important;
}

.help-content-display {
	display: block !important;
}

.help-content-hidden {
	display: none !important;
}

.empty-weight-color > td {
	background-color: #E5F5FC;
}

.inline-button {
	margin-bottom: 7px !important;
}

.force-weight-children:hover {
	cursor: pointer;
}