import io.gatling.core.Predef._
import io.gatling.http.Predef._
import scala.concurrent.duration._

/**
 * Gatling 2.0RC1 Script generated for Liferay by the plugin
 * "Load Test with Gatling"
 */

class {{simuName}} extends Simulation {

{{#mustacheScenario}}
  var {{name}} = scenario("{{name}}")
    .randomSwitch(
		{{#mustacheRequests}}
      {{pourcentage}} -> exec(http("{{name}}").get("{{url}}")){{^last}},{{/last}}
{{/mustacheRequests}}	
  )
	{{/mustacheScenario}}
	
		
  setUp(
{{#mustacheScenario}}
    {{name}}.inject( rampUsers({{users}}) over( {{duration}} seconds)){{^last}},{{/last}}
{{/mustacheScenario}}
  )

}
