import io.gatling.core.Predef._
import io.gatling.http.Predef._
import scala.concurrent.duration._

/**
 * Gatling 2.0RC2 Script generated for Liferay by the plugin
 * "Load Test with Gatling"
 */

class {{simuName}} extends Simulation {
  
  
{{#mustacheScenario}}
  val {{name}} = scenario("{{name}}")
    .randomSwitch(
{{#mustacheRequests}}
      {{pourcentage}} -> exec({{^notRegular}}http("{{name}}").get("{{url}}"){{/notRegular}}{{^regular}}listRequest.{{name}}{{/regular}}){{^last}},{{/last}}
{{/mustacheRequests}}	
  )
{{/mustacheScenario}}
	
		
  setUp(
{{#mustacheScenario}}
    {{name}}.inject( rampUsers({{users}}) over( {{duration}} seconds)){{^last}},{{/last}}
{{/mustacheScenario}}
  )
  
  
    
  object listRequest {
{{#mustacheScenario}}
{{#mustacheRequests}}
{{^regular}}
      val {{name}} = exec( http("{{name}}").get("{{url}}") ) 
      					.pause(1)
      					.randomSwitch(
{{#mustachePortlet}}
      						{{pourcentage}} -> exec(http("{{name}}").get("{{url}}")){{^last}},{{/last}}
{{/mustachePortlet}}
      					)
{{/regular}}
{{/mustacheRequests}}
{{/mustacheScenario}}
  }
  
  
  
}
