import io.gatling.core.Predef._
import io.gatling.http.Predef._
import io.gatling.jdbc.Predef._
import io.gatling.http.Headers.Names._
import scala.concurrent.duration._
import bootstrap._
import assertions._

/**
 * Gatling 2.0M3a Script generated for Liferay by the plugin
 * "Load Test with Gatling"
 */

class {{simuName}} extends Simulation {

{{#mustacheScenario}}
  var {{name}} = scenario("{{name}}")
  {{#hasPrivatePage}}
    .exec(http("loginPage").post("{{homeURL}}").param("_58_login", "{{login}}").param("_58_password", "{{password}}"))
  {{/hasPrivatePage}}
    .randomSwitch(
		{{#mustacheRequests}}
      {{truncate}} -> exec(http("{{name}}").get("{{url}}")){{^last}},{{/last}}
{{/mustacheRequests}}	
  )
	{{/mustacheScenario}}
	
		
  setUp(
{{#mustacheScenario}}
    {{name}}.inject( ramp( {{users}} users ) over ( {{duration}} seconds)){{^last}},{{/last}}
{{/mustacheScenario}}
  )

}
