import com.excilys.ebi.gatling.core.Predef._
import com.excilys.ebi.gatling.http.Predef._
import com.excilys.ebi.gatling.jdbc.Predef._
import com.excilys.ebi.gatling.http.Headers.Names._
import akka.util.duration._
import bootstrap._


/**
 * Gatling 1.5 script generated for Liferay by the plugin
 * "Load Test with Gatling"
 */

class {{simuName}} extends Simulation {

{{#mustacheScenario}}
  var {{name}} = scenario("{{name}}")
  {{#hasPrivatePage}}
    .exec(http("loginPage").post("{{homeURL}}").param("_58_login", "{{login}}").param("_58_password", "{{password}}")),
  {{/hasPrivatePage}}
  .randomSwitch(
		{{#mustacheRequests}}
      {{truncate}} -> exec(http("{{name}}").get("{{url}}")){{^last}},{{/last}}
{{/mustacheRequests}}	
  )
	{{/mustacheScenario}}
	
		
  setUp(
{{#mustacheScenario}}
    {{name}}.users({{users}}).ramp({{duration}}){{^last}},{{/last}}
{{/mustacheScenario}}
  )

}
